#!/usr/bin/env ruby

compile '/writings.html' do
  layout '/writings_list.html'
end

compile '{/writings/*.md,/about.md,/beers.md}' do
  filter :kramdown
  layout '/writings.html'
end

compile '/assets/{img,fonts}/*' do
  output = item.identifier.to_s.sub('/assets', '')
  write output
end

compile '/assets/js/*' do
  filter :yui_compressor, :type => :js
  output = item.identifier.to_s.sub('/assets', '')
  write output
end

compile '/assets/style/*.less' do
  filter :less
  filter :yui_compressor, :type => :css
  output = '/css' + item.identifier.without_ext.to_s.sub('/assets/style', '') + '.css'
  write output
end

ignore '/assets/semantic/**/*'

ignore '/assets/style/import/**/*'

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.md' do
 filter :kramdown
 layout '/default.*'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
