@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'UnderwoodChampionRegular';
    src: url('/assets/fonts/underwood_champion-webfont.woff') format('woff'),
        url('/assets/fonts/underwood_champion-webfont.eot'),
        url('/assets/fonts/underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/underwood_champion-webfont.ttf') format('truetype'),
        url('/assets/fonts/underwood_champion-webfont.svg#UnderwoodChampionRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    @apply text-normal font-body leading-24 font-normal;
    background-image: url('/assets/images/bg.png');
}

h1 {
    @apply text-big my-50;
}

a {
    @apply pt-3 pr-2 pb-1 pl-0 underline;
}

a:hover {
    @apply bg-black text-white;
}

p {
    @apply my-20 text-normal;
}

.nav-item {
    @apply pt-5 pr-4 pb-2 pl-9 text-gray text-small no-underline rounded-2;
}

.selected {
    @apply text-black;
}

#writings-list a {
    @apply pt-15 pr-35 pb-8 pl-10 no-underline rounded-3;
}
