<header>
    <nav id="main-nav">
        <ul>
            <li><%= link_to_unless_current('Home', '/', Array({'class' => 'nav-item'})) %></li>
            <li><%= link_to_unless_current('Random', '/random/', Array({'class' => 'nav-item'})) %></li>
            <li><%= link_to_unless_current('Writings', '/writings/', Array({'class' => 'nav-item'})) %></li>
            <li><%= link_to_unless_current('About', '/about/', Array({'class' => 'nav-item'})) %></li>
            <li><%= link_to_unless_current('Contact', '/contact/', Array({'class' => 'nav-item'})) %></li>
            <li><%= link_to_unless_current('Beers', '/beers/', Array({'class' => 'nav-item'})) %></li>
        </ul>
    </nav>
</header>